<div class="container hidden">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-light" href="/home">Go Home</a>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form id="data">
                <div class="form-group">
                    <label for="JobTitle">Job Title</label>
                        <Title> Job Position</Title>
                    </label>
                    <input type="jobtitle" class="form-control" id="jobtitle" placeholder="JobTitle">

                </div>
                <div class="form-group">
                    <label for="Location">Location</label>
                    <input type="location" class="form-control" id="location" placeholder="Location">
                </div>
                <div class="form-group">
                    <label for="Type">Type</label>
                    <input type="Type" class="form-control" id="type" placeholder="Type">
                </div>
                <div class="form-group">
                    <label for="Duration">Duration</label>
                    <input type="duration" class="form-control" id="duration" placeholder="Duration">
                </div>

                <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea class="form-control" id="description" placeholder="Description" rows="10"></textarea>
                </div>

                <button type="submit" class="btn btn-primary editjob" id="edit">Save</button>
            </form>
        </div>
    </div>
</div>
<!-- Custom Script -->
<script src="/js/edit.js" type="text/javascript"></script>