
<div class="main container">
	<div class="row">
		<div class="col-md-2 col-sm-2">
			<a class="btn btn-default" href="/addJP">Add Job Post</a>
		</div>
		
	</div>
	<div class="row">
		<div class="col-md-12" id="jobposts">

		</div>
	</div>
</div>
<!-- Custom Script -->
<script src="js/main.js" type="text/javascript"></script>