<div class="container hidden">
    <div class="row top-30">
        <div class="col-md-2 col-sm-2">
            <a class="btn btn-dark" href="/home">Home</a>
        </div>
        <br>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-3 offset-md-0">
            <div class="card">
                <div class="card-header">
                    Applied
                </div>
                
                <ul class="list-group list-group-flush" id="applied">


                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-0">
            <div class="card">
                <div class="card-header">
                    Telephone Interview
                </div>
                
                <ul class="list-group list-group-flush" id="telephone">

                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-0">
            <div class="card">
                <div class="card-header">
                    In-Person Interview
                </div>
                
                <ul class="list-group list-group-flush" id="inperson">

                </ul>
            </div>
        </div>
        <div class="col-md-3 offset-md-0">
            <div class="card">
                <div class="card-header">
                    HIRED!
                </div>
                
                <ul class="list-group list-group-flush" id="hired">

                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Custom Script -->
<script src="../js/jobcandidates.js" type="text/javascript"></script>